# 2.3.4 Loading Data

We can read data.

In [1]:
Auto <- read.table("../../99DataSets/Auto.data")
View(Auto)
head(Auto)

    V1   V2        V3           V4         V5     V6           V7   V8
1   mpg  cylinders displacement horsepower weight acceleration year origin
2   18.0 8         307.0        130.0      3504.  12.0         70   1
3   15.0 8         350.0        165.0      3693.  11.5         70   1
4   18.0 8         318.0        150.0      3436.  11.0         70   1
5   16.0 8         304.0        150.0      3433.  12.0         70   1
6   17.0 8         302.0        140.0      3449.  10.5         70   1
7   15.0 8         429.0        198.0      4341.  10.0         70   1
8   14.0 8         454.0        220.0      4354.  9.0          70   1
9   14.0 8         440.0        215.0      4312.  8.5          70   1
10  14.0 8         455.0        225.0      4425.  10.0         70   1
11  15.0 8         390.0        190.0      3850.  8.5          70   1
12  15.0 8         383.0        170.0      3563.  10.0         70   1
13  14.0 8         340.0        160.0      3609.  8.0          70   1
14  15.0 8         400.0        150.0      3761.  9.5          70   1
15  14.0 8         455.0        225.0      3086.  10.0         70   1
16  24.0 4         113.0        95.00      2372.  15.0         70   3
17  22.0 6         198.0        95.00      2833.  15.5         70   1
18  18.0 6         199.0        97.00      2774.  15.5         70   1
19  21.0 6         200.0        85.00      2587.  16.0         70   1
20  27.0 4         97.00        88.00      2130.  14.5         70   3
21  26.0 4         97.00        46.00      1835.  20.5         70   2
22  25.0 4         110.0        87.00      2672.  17.5         70   2
23  24.0 4         107.0        90.00      2430.  14.5         70   2
24  25.0 4         104.0        95.00      2375.  17.5         70   2
25  26.0 4         121.0        113.0      2234.  12.5         70   2
26  21.0 6         199.0        90.00      2648.  15.0         70   1
27  10.0 8         360.0        215.0      4615.  14.0         70   1
28  10.0 8         307.0        200.0      4376.  15.0         70   1
29  11.0 8         318.0        210.0      4382.  13.5         70   1
30  9.0  8         304.0        193.0      4732.  18.5         70   1
⋮   ⋮    ⋮         ⋮            ⋮          ⋮      ⋮            ⋮    ⋮
369 28.0 4         112.0        88.00      2605.  19.6         82   1
370 27.0 4         112.0        88.00      2640.  18.6         82   1
371 34.0 4         112.0        88.00      2395.  18.0         82   1
372 31.0 4         112.0        85.00      2575.  16.2         82   1
373 29.0 4         135.0        84.00      2525.  16.0         82   1
374 27.0 4         151.0        90.00      2735.  18.0         82   1
375 24.0 4         140.0        92.00      2865.  16.4         82   1
376 36.0 4         105.0        74.00      1980.  15.3         82   2
377 37.0 4         91.00        68.00      2025.  18.2         82   3
378 31.0 4         91.00        68.00      1970.  17.6         82   3
379 38.0 4         105.0        63.00      2125.  14.7         82   1
380 36.0 4         98.00        70.00      2125.  17.3         82   1
381 36.0 4         120.0        88.00      2160.  14.5         82   3
382 36.0 4         107.0        75.00      2205.  14.5         82   3
383 34.0 4         108.0        70.00      2245   16.9         82   3
384 38.0 4         91.00        67.00      1965.  15.0         82   3
385 32.0 4         91.00        67.00      1965.  15.7         82   3
386 38.0 4         91.00        67.00      1995.  16.2         82   3
387 25.0 6         181.0        110.0      2945.  16.4         82   1
388 38.0 6         262.0        85.00      3015.  17.0         82   1
389 26.0 4         156.0        92.00      2585.  14.5         82   1
390 22.0 6         232.0        112.0      2835   14.7         82   1
391 32.0 4         144.0        96.00      2665.  13.9         82   3
392 36.0 4         135.0        84.00      2370.  13.0         82   1
393 27.0 4         151.0        90.00      2950.  17.3         82   1
394 27.0 4         140.0        86.00      2790.  15.6         82   1
395 44.0 4         97.00        52.00      2130.  24.6         82   2
396 32.0 4         135.0        84.00      2295.  11.6         82   1
397 28.0 4         120.0        79.00      2625.  18.6         82   1
398 31.0 4         119.0        82.00      2720.  19.4         82   1
    V9
1   name
2   chevrolet chevelle malibu
3   buick skylark 320
4   plymouth satellite
5   amc rebel sst
6   ford torino
7   ford galaxie 500
8   chevrolet impala
9   plymouth fury iii
10  pontiac catalina
11  amc ambassador dpl
12  dodge challenger se
13  plymouth 'cuda 340
14  chevrolet monte carlo
15  buick estate wagon (sw)
16  toyota corona mark ii
17  plymouth duster
18  amc hornet
19  ford maverick
20  datsun pl510
21  volkswagen 1131 deluxe sedan
22  peugeot 504
23  audi 100 ls
24  saab 99e
25  bmw 2002
26  amc gremlin
27  ford f250
28  chevy c20
29  dodge d200
30  hi 1200d
⋮   ⋮
369 chevrolet cavalier
370 chevrolet cavalier wagon
371 chevrolet cavalier 2-door
372 pontiac j2000 se hatchback
373 dodge aries se
374 pontiac phoenix
375 ford fairmont futura
376 volkswagen rabbit l
377 mazda glc custom l
378 mazda glc custom
379 plymouth horizon miser
380 mercury lynx l
381 nissan stanza xe
382 honda accord
383 toyota corolla
384 honda civic
385 honda civic (auto)
386 datsun 310 gx
387 buick century limited
388 oldsmobile cutlass ciera (diesel)
389 chrysler lebaron medallion
390 ford granada l
391 toyota celica gt
392 dodge charger 2.2
393 chevrolet camaro
394 ford mustang gl
395 vw pickup
396 dodge rampage
397 ford ranger
398 chevy s-10

  V1   V2        V3           V4         V5     V6           V7   V8
1 mpg  cylinders displacement horsepower weight acceleration year origin
2 18.0 8         307.0        130.0      3504.  12.0         70   1
3 15.0 8         350.0        165.0      3693.  11.5         70   1
4 18.0 8         318.0        150.0      3436.  11.0         70   1
5 16.0 8         304.0        150.0      3433.  12.0         70   1
6 17.0 8         302.0        140.0      3449.  10.5         70   1
  V9
1 name
2 chevrolet chevelle malibu
3 buick skylark 320
4 plymouth satellite
5 amc rebel sst
6 ford torino

To get the headers:

In [2]:
Auto <- read.table("../../99DataSets/Auto.data", header = T, na.strings = "?", stringsAsFactors = T)
head(Auto)

  mpg cylinders displacement horsepower weight acceleration year origin
1 18  8         307          130        3504   12.0         70   1
2 15  8         350          165        3693   11.5         70   1
3 18  8         318          150        3436   11.0         70   1
4 16  8         304          150        3433   12.0         70   1
5 17  8         302          140        3449   10.5         70   1
6 15  8         429          198        4341   10.0         70   1
  name
1 chevrolet chevelle malibu
2 buick skylark 320
3 plymouth satellite
4 amc rebel sst
5 ford torino
6 ford galaxie 500

In [3]:
Auto <- read.csv("../../99DataSets/Auto.csv", na.strings = "?", stringsAsFactors = T)
head(Auto)

  mpg cylinders displacement horsepower weight acceleration year origin
1 18  8         307          130        3504   12.0         70   1
2 15  8         350          165        3693   11.5         70   1
3 18  8         318          150        3436   11.0         70   1
4 16  8         304          150        3433   12.0         70   1
5 17  8         302          140        3449   10.5         70   1
6 15  8         429          198        4341   10.0         70   1
  name
1 chevrolet chevelle malibu
2 buick skylark 320
3 plymouth satellite
4 amc rebel sst
5 ford torino
6 ford galaxie 500

In [4]:
dim(Auto)

[1] 397   9

In [5]:
Auto <- na.omit(Auto)
dim(Auto)

[1] 392   9

In [6]:
names(Auto)

[1] "mpg"          "cylinders"    "displacement" "horsepower"   "weight"
[6] "acceleration" "year"         "origin"       "name"